* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
  width: 80%;
  right: 20px;
}

#test-input {
  top: 40px;
  right: 20px;
  bottom: 30%;
  height: 40px;
  width: 200px;
  font-size: 20px;
}
/* # is an id selector, . is a class selector*/

#list-view {
  /*position: fixed;*/
  top: 0px;
  right: 20px;
  width: 100px;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

/*.controls {
    margin-top: 16px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
*/
li {
  margin-left: 20px;
  padding: 2px 0;
  font: 12px sans-serif;
  width: 100px;
  height: 31px;
}
