body {
  background: #FCD60B;
  color: black;
  padding-top: 20px;
}

h1 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

#map {
    width: 100%;
    height: 100vh;
    top:0;
    bottom: 0;
}

#list-view {
    max-height: 25vh;
    overflow-y:scroll; 
}

.site-header {
  margin-bottom: 1em;
  border-bottom: 5px solid #000000;
    padding: 0px;
  background: #F9C606;
}

.main-nav {
  list-style: none;
  padding: 0;
}

.main-nav-item {
  display: inline-block;
  font-size: 1em;
  border-bottom: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 49%;
}

.main-nav-item:hover {
  background: #F9C606;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .main-nav {
    padding-bottom: 5em;
  }
  .main-nav-item {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 33.33%;
  }
  #list-view {
    max-height: 25vh;
    overflow-y:scroll; 
}


@media only screen and (min-width: 992px) {
  #map {
      height: 100vh;
  }

  h1 {
    font-size: 36px;
  }

  h3 {
    font-size: 24px;
  }

  .site-header {
      padding: 0px 0px 0px 0px;
    margin-bottom: 2em;
  }

  .main-nav {
    padding-bottom: 2em;
  }

  .main-nav-item {
    display: block;
    font-size: 1.2em;
    line-height: 2em;
    border-bottom: 1px solid #000000;
    white-space: normal;
    overflow: hidden;
    width: 100%;
  }

  .section-content {
    padding: 0;
  }

  #list-view {
    max-height: 100vh;
    overflow-y:scroll; 
}
